{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "dev": {
      "sourceMaps": true,
      "retainLines": true
    }
  }
}